@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: "Open Sans";	
	overflow: hidden;
}

.screen {
	display: none;
	width: 100vw;
	height: 100vh;
	background: #444;
	color: white;
}

.screen.visible {
	display: block;
}

input {
	margin: 5px;
	padding: 6px 12px;
	background: linear-gradient(to bottom, #333333 0%, #444444 100%);
	box-shadow: inset 0 0 10px black;
	border-radius: 2px;
	border: none;
	outline: none;
	border-bottom: 1px solid #666;
	color: #ccc;
	color: #ddd;
	font-family: "Open Sans";
	transition: box-shadow 0.3s, border-bottom-color 0.3s;
}

input:hover {
	box-shadow: inset 0 0 20px black;
	border-bottom-color: #555;
}

input:focus {
	box-shadow: inset 0 0 5px black;
	border-bottom-color: #555;
}



button {
	margin: 5px;
	padding: 6px 12px;
	background: linear-gradient(to bottom, #474747 0%, #3F3F3F 100%);
	border-radius: 2px;
	border: none;
	outline: none;
	border-top: 1px solid #666;
	color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-size: 11px;
	box-shadow: 0 0 0px 1px #222;
	/*transition: background 0.3s, box-shadow 0.3s;*/
}

button:hover {
	background: linear-gradient(to bottom, #3B3B3B 0%, #3E3E3E 100%);
}

button:active {
	background: linear-gradient(to bottom, #2B2B2B 0%, #3E3E3E 100%);
	box-shadow: 0 0 0px 1px #222, inset 0 0 3px 0px #222;
	border: none;
	border-bottom: 1px solid #666;
}

.text-center {
	text-align: center;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

.ib-center {
	display: inline-block;
}